= with_layout :"_layout" do
  .screen.hello
    %h1 This game made to develop telepathically communication between us.

    %h3 To play choose a picture and ask opponent to guess it.

    %a{:href => '#', :onClick => "App.startGame(); return false;"} Start game

    %p also can read how to prepare yourself for better results.

  .screen.game
    